{{!-- Partial individual comment --}}
<a href="/viewpost/{{id}}">
    <section class="card">
        <h3 class="post-header">{{title}} </h3>
        <h4>Posted by {{user.username}} on 07/1/2021</h4>
        <section class="container">
            <p class="post-text">{{body}}</p>
        </section>
    </section>
</a>