{{!-- comments form--}}
<div class="padding-15">
    <form id="comment-form " class="padding-15">
        <label for="post-title">Post Title</label>
        <input class="padding-15" type="textarea" name="title" id="title">
        <label for="post-title">Text</label>
        <input class="padding-15" type="textarea" name="text" id="body">
        <button class="padding-15" id="create-post-btn">Post!</button>
    </form>
</div>
<script src="../models/post.js"></script>