<link rel="stylesheet" href="./css/login.css">
<div class="wrapper">
    <form class="login">
        <div class="padding-md">
            <label for="email">email:</label>
            <input type="text" id="email" />
        </div>
        <div class="padding-md">
            <label for="password">password:</label>
            <input type="password" id="password" />
        </div>
        <div class="padding-md">
            <button type="submit" id="login-btn">login</button>
        </div>
    </form>

    <form class="signup">
        <div>
            <label for="username">username:</label>
            <input id="username" type="text">
        </div>
        <div>
            <label for="email">email:</label>
            <input type="text" id="email" />
        </div>
        <div>
            <label for="password">password:</label>
            <input type="password" id="password" />
        </div>
        <div>
            <button type="submit" id="signup-btn">signup</button>
        </div>
    </form>
</div>
{{!-- Load the login script --}}
<script src="/js/login.js"></script>