<section class="padding-15">
    <form id="comment-form " class="padding-20">
        <label for="post-title">New Title</label>
        <input class="padding-20" type="textarea" name="post-title" id="post-title">
        <label for="post-title">New Text</label>
        <input class="padding-20" type="textarea" name="post-text" id="post-body">
        <button class="padding-20" id="create-post-btn">Update!</button>
    </form>
</section>
<link rel="stylesheet" href="../public/css/solo-post.css">
<script src="../models/post.js"></script>
{{!--
<script src="edit-delete-post.js"></script> --}}