{{!-- Shows homepage HTML --}}
    {{#unless posts.length}}
    <h3><i>No posts to display.</i></h3>
    {{/unless}}

<ul class="post-list">
    {{#each posts as |post|}}
    <li>
        {{> blogpost-info post}}
    </li>
    {{/each}}
</ul>