{{!-- signup --}}
<form class='signup-form'>
        <div id='signup_alert_container'></div>

    {{!-- username signup box --}}
    <div>
        <label for='username_signup'>Username:</label>
        <input type='text' id='username_signup' autocomplete="off"/>
    </div>

    {{!-- email signup text box --}}
    <div>
        <label for='email_signup'>Email:</label>
        <input type='text' id='email_signup'/>
    </div>

    {{!-- password signup text box --}}
    <div>
        <label for='password_signup'>Password:</label>
        <input type='password' id='password_signup'/>
    </div>

    {{!-- signup submit --}}
    <div>
        <button type='submit' id='signup_submit'>Sign Up</button>
    </div>
</form>

{{!-- This generates the html that will be visible --}}

<form class='login-form'>

    <div id='login_alert_container'></div>

    {{!-- username text box --}}
    <div>
        <label for='username_login'>Username:</label>
        <input type='text' id='username_login' autocomplete="off"/>
    </div>

    {{!-- password text box --}}
    <div>
        <label for='password_login'>Password:</label>
        <input type='password' id='password_login'/>
    </div>

    {{!-- sign in submit button --}}
    <div>
        <button type='submit' id='login_submit'>Login</button>
    </div>
</form>

<script src="../public/js/login.js"></script>