<link rel="stylesheet" href="../public/css/login.css">
<section class="wrapper">
    <form class="login">
        <article class="padding-md">
            <label for="email">email:</label>
            <input type="text" id="email" />
        </article>
        <article class="padding-md">
            <label for="password">password:</label>
            <input type="password" id="password" />
        </article>
        <article class="padding-md">
            <button type="submit" id="login-btn">login</button>
        </article>
    </form>

    <form class="signup">
        <article>
            <label for="username">username:</label>
            <input id="username" type="text">
        </article>
        <article>
            <label for="email">email:</label>
            <input type="text" id="email" />
        </article>
        <article>
            <label for="password">password:</label>
            <input type="password" id="password" />
        </article>
        <article>
            <button type="submit" id="signup-btn">signup</button>
        </article>
    </form>
</section>
{{!-- Load the login script --}}
<script src="../public/js/login.js"></script>